.body-page-1{
    background-color:#F9F5F6;

}
.div-page-1{
    padding: 10px;
    background-color:#F8E8EE;
    text-align: center;
}
.paragraph-of-page1{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}